{
  "system": {
    "host": "{{ openhab_cloud_domain_name }}",
    "listenIp": "0.0.0.0",
    "port": "443",
    "protocol": "https",
    "logger" : {
      "dir": "/opt/openhabcloud/logs/"
    },
    "subDomainCookies": false,
    "muteNotifications": false
  },
  "express":{
    "key" : "{{ lookup('ansible.builtin.password', '/dev/null', chars=['ascii_letters', 'digits'], length=16) }}"
  },
  "gcm": {
    "jid": "something@gcm.googleapis.com",
    "password": "password"
  },
  "ifttt": {
    "iftttChannelKey": "key",
    "iftttTestToken": "token"
  },
  "mail": {
    "host" : "smtp",
    "port" : 465,
    "user" : "{{ openhab_cloud_email_address }}",
    "pass" : "password"
  },
  "mongodb": {
    "hosts": ["mongodb"],
    "db": "openhab",
    "user": "openhab",
    "password": "openhab"
  },
  "redis": {
    "host": "redis",
    "port": "6379"
  },
  "mailer": {
    "host" : "smtp",
    "port": 465,
    "secureConnection": true,
    "user": "{{ openhab_cloud_email_address }}",
    "from": "openHAB Cloud <{{ openhab_cloud_email_address }}>"
  },
  "legal": {
    "terms" : "",
    "policy": ""
  },
  "registration_enabled": false
}
