version: '3'

services:
  app:
    container_name: {{ openhabcloud_identifier }}
    user: {{ openhabcloud_uid }}:{{ openhabcloud_gid }}
    build:
      context: ../..
    volumes:
    - ./config.json:/opt/openhabcloud/config.json
    - {{ openhabcloud_base_path }}/logs:/opt/openhabcloud/logs
    depends_on:
    - mongodb
    - redis
    restart: always
    environment:
      NODE_ENV: production 

  mongodb:
    image: mongo:4
    volumes:
    - mongo-data:/data/db
    restart: always

  redis:
    image: bitnami/redis:latest
    environment:
    - REDIS_PASSWORD=123_openHAB
    restart: always

volumes:
  mongo-data:

networks:
  default:
    name: {{ openhabcloud_container_network }}
    external: true
