version: '3'

services:
  app:
    container_name: {{ openhab_cloud_identifier }}
    user: {{ openhab_cloud_uid }}:{{ openhab_cloud_gid }}
    build:
      context: ../..
    volumes:
      - {{ openhab_cloud_config_path }}/config.json:/opt/openhabcloud/config.json:readonly
    tmpfs:
      - /opt/openhabcloud/logs:uid={{ openhab_cloud_uid }},gid={{ openhab_cloud_gid }}
    depends_on:
      - mongodb
      - redis
    restart: always
    environment:
      - NODE_ENV=production 

  mongodb:
    image: mongo:4
    volumes:
      - mongo-data:/data/db
    restart: always

  redis:
    image: bitnami/redis:latest
    environment:
      - REDIS_PASSWORD=123_openHAB
    restart: always

volumes:
  mongo-data:

networks:
  default:
    name: {{ openhab_cloud_container_network }}
    external: true
